body {
	margin: 0px;
}

.banner {
	background-color: #66FFCC;
	align-items: center;
	display: flex;
	position: relative;

	/*
	display: flex;
	height: 50px;
	display: inline-block;
	position: fixed;
	padding: 20px;
	margin-left: 160px;
	color: #3E3C3C;
	width: 100%;
	margin-top: 0;
	margin: auto;
	*/
}

.hidden {
	display: none;
}

li{
	top: 0px;
}

h1 {
	font-style: oblique;
	font-size: 33px;
	color: #3E3C3C;
	margin-left: 580px;
	text-decoration: overline;
	/*
	text-align: center;
	top: 18px;
	position: fixed;
	padding: 20px;
	*/
}

h2 {
	padding-left: 5px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
	display: in-line block;
	position: fixed;
	margin-left: 80px;
	font-size: 25px;
}

h3 {
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
	display: in-line block;
}


.err{
	padding-left: 5px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
	display: in-line block;
	position: fixed;
	margin-left: 600px;
	top: 200px;
	font-size: 25px;
}

.page{
	padding-left: 5px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
	display: in-line block;
	position: fixed;
	margin-left: 540px;
	top: 250px;
	font-size: 25px;
}

#channels-list {
	font-family:Helvetica, Arial, Sans-Serif;
	color:#66FFCC;
	list-style-type: none;
	text-align: center;
}


ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
}

.active a {
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
	display: block;
	color: white;
	margin-top: 65px;
	text-decoration: none;
}

.active a.active {
	background-color: #3E3C3C;
	color: black;
}

.active a:hover:not(.active) {
	background-color: #555;
	color: white;
}



#channels-list{
	background-color: #3E3C3C;
	height: 100%;
	width: 330px;
	position: fixed;
	z-index: 1;
	flex-wrap:wrap;
	margin: 0;
	float: left;
	
}

#channels-list a {
	font-family: Helvetica, Arial, Sans-Serif;
	padding: 6px 20px 20px 6px;
	text-decoration: none;
	color: black;
	display: block;
}

#channels-list a:hover {
	color: white;
}

#chat-input {
	float: right;
	height: 100%;
	width: 100%;
}

#message-list{
	
}

.message-container {
	float:right;
	
}


#message-text-box {
	display: flex;
	height: 15px;
	margin: 7px;
	border-radius: 8px;
	padding: 10px;
	bottom: 4px;
	position: fixed;
	bottom: 15px;
	right: 145px;
	flex-wrap:wrap;
	width: 700px;
	float: right;

}

#message-send {
	background-color: #66FFCC;
	position: fixed;
	bottom: 25px;
	right: 30px;
	border-radius: 8px;
	border: 0px;
	width: 100px;
	height: 35px;
	color: #3E3C3C;
}

#message-send:hover {
	background-color: #3E3C3C;
	color: white;
}

#new-chan:hover {
	background-color: #3E3C3C;
	color: white;
}

/*Username modal*/

.username{
	font-family: Helvetica, Arial, Sans-Serif;
}

#modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.85);
}

#new-user-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
}

.mod-content {
	width: auto;
	max-width: 600px;
	min-width: 350px;
	min-height: 200px;
	margin: 40px auto;
	background-color: #fff;
	border-radius: 15px;
	margin-top: 200px;
}

.modal-header {
	position: relative;
	padding: 10px 20px;
}

.modal-header h3 {
	margin: 0;
	font-size: 28px;
}

.username {
	padding: 20px;
}

.username {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 10px 0;
}

.username>label {
	font-weight: 600;
	flex: 1 75px;
	margin-right: 10px;
}

.username input {
	flex: 6 200px;
	padding: 8px;
	font-size: 20px;
	border: 1px solid #aaa;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 10px 10px 10px;
}

#new-user-field{
	width: 25px;
	height: 15px;
	margin: 7px;
	border-radius: 8px;
}

#new-user-submit {
	margin-right: 20px;
	background-color: #66FFCC;
	border-radius: 8px;
	border: 0px;
	width: 100px;
	height: 35px;
	color: #3E3C3C;
	font-weight: bold;
	
}

/*channel mod*/

.chann-name{
	padding: 20px;
	font-family: Helvetica, Arial, Sans-Serif;
}

#new-channel-trigger{
	background-color: #66FFCC;
	position: fixed;
	bottom: 25px;
	left: 40px;
	border-radius: 8px;
	border: 0px;
	width: 250px;
	height: 35px;
	color: #3E3C3C;
	
}

#new-channel-trigger:hover {
	color: white;
	font-weight: bold;
}

#modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.85);
}

#new-channel-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
}

#new-channel-field{
	width: 25px;
	height: 15px;
	margin: 7px;
	border-radius: 8px;
}


.channel-header {
	position: relative;
	padding: 10px 20px;
}

.channel-header h3 {
	margin: 0;
	font-size: 28px;
}
.chann-name {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 10px 0;
}

.chann-name>label {
	font-weight: 600;
	flex: 1 75px;
	margin-right: 10px;
}

.chann-name input {
	flex: 6 200px;
	padding: 8px;
	font-size: 20px;
	border: 1px solid #aaa;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 10px 10px 10px;
}

#new-channel-submit {
	margin-right: 20px;
	background-color: #66FFCC;
	border-radius: 8px;
	border: 0px;
	width: 100px;
	height: 35px;
	color: #3E3C3C;
	font-weight: bold;
}

#new-channel-abort {
	margin-right: 20px;
	background-color: #3E3C3C;
	border-radius: 8px;
	border: 0px;
	width: 100px;
	height: 35px;
	color: white;
	
}